// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8916-samsung-j5-common.dtsi"

/ {
	model = "Samsung Galaxy J5 (2016)";
	compatible = "samsung,j5x", "qcom,msm8916";
	chassis-type = "handset";
};

&accelerometer {
	interrupts = <49 IRQ_TYPE_LEVEL_HIGH>;

	vdd-supply = <&pm8916_l6>;
	vddio-supply = <&pm8916_l6>;

	mount-matrix = "0", "-1", "0",
		       "1", "0", "0",
		       "0", "0", "-1";
};

&muic {
	interrupts = <121 IRQ_TYPE_EDGE_FALLING>;
};

&smd_rpm_regulators {
	l17 {
		regulator-min-microvolt = <2850000>;
		regulator-max-microvolt = <3100000>;
	};
};

&accel_int_default {
	pins = "gpio49";
};

&muic_int_default {
	pins = "gpio121";
};
