// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8916-samsung-j5-common.dtsi"

/ {
	model = "Samsung Galaxy J5 (2016)";
	compatible = "samsung,j5x", "qcom,msm8916";
	chassis-type = "handset";

	reg_vdd_lcd_1p8: regulator-vdd-lcd-1p8 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_lcd_1p8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&pm8916_s4>;

		gpio = <&msmgpio 69 GPIO_ACTIVE_HIGH>;
		enable-active-high;

		pinctrl-names = "default";
		pinctrl-0 = <&lcd_ldo_en_default>;
	};

	reg_vdd_lcd_3p0: regulator-vdd-lcd-3p0 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_lcd_3p0";
		regulator-min-microvolt = <3000000>;
		regulator-max-microvolt = <3000000>;

		gpio = <&msmgpio 115 GPIO_ACTIVE_HIGH>;
		enable-active-high;

		pinctrl-names = "default";
		pinctrl-0 = <&lcd_3v_ldo_en_default>;
	};
};

&accelerometer {
	interrupts = <49 IRQ_TYPE_LEVEL_HIGH>;

	vdd-supply = <&pm8916_l6>;
	vddio-supply = <&pm8916_l6>;

	mount-matrix = "0", "-1", "0",
		       "1", "0", "0",
		       "0", "0", "-1";
};

&fuelgauge {
	interrupts = <21 IRQ_TYPE_EDGE_FALLING>;
};

&i2c_fg {
	sda-gpios = <&msmgpio 16 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
	scl-gpios = <&msmgpio 17 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
};

&panel {
	compatible = "samsung,s6e8aa5x01-ams520kt01";
	vdd-supply = <&reg_vdd_lcd_1p8>;
	power-supply = <&reg_vdd_lcd_3p0>;
};

&muic {
	interrupts = <121 IRQ_TYPE_EDGE_FALLING>;
};

&smd_rpm_regulators {
	l17 {
		regulator-min-microvolt = <2850000>;
		regulator-max-microvolt = <3100000>;
	};
};


&msmgpio {
	lcd_ldo_en_default: lcd-ldo-en-default {
		pins = "gpio69";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;
	};

	lcd_3v_ldo_en_default: lcd-3v-ldo-en-default {
		pins = "gpio115";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;
	};

};

&accel_int_default {
	pins = "gpio49";
};

&fg_alert_default {
	pins = "gpio21";
};

&fg_i2c_default {
	pins = "gpio16", "gpio17";
};

&muic_int_default {
	pins = "gpio121";
};
